mixin sTasks(data)
	// start sTasks
	+b.sTasks.section#sTasks&attributes(attributes)
		.container
			mixin item(t,t1)
				+e.item
					h3= t
					+e.row.row
						.col-xl-4
							p.p-lg= t1
						.col
							block
			+item("Первая задача","Как ловить ВСЕ тренды  на ранней стадии  и зарабатывать на каждом движении рынка, неважно растет он или падает?")
				p В этом мне помог Ричард Дончиан, отец трендового следования. Гений, подаривший миру Price Channel.

				p Его стратегия – классика, проверенная десятилетиями и миллиардами долларов прибыли.

				p Я протестировал более сотни существующих торговых стратегий. Только канал Дончиана позволил забрать прибыль на всех трендовых движениях 2025 года.
				p.bg-primary Но Дончиан не знал кошмара современных рынков – флетов, длящихся по несколько месяцев. Сегодня стратегия Дончиана в чистом виде – это гарантированный слив
			+item("Вторая задача была дерзкой","Вдохнуть жизнь в классику трендовой торговли.")
				p У меня уже был опыт создания алгоритма автоматической адаптации к рынку для трендовых стратегий.

				p 2025-й год заставил этот алгоритм пересмотреть. Мощные тренды возникали буквально из ничего и заканчивались за 2-3 дня. За такой короткий срок автоадаптация просто не срабатывала.

				p Месяц бессонных ночей ушел на создание нового алгоритма адаптации. И это того стоило! Теперь торговый робот может реагировать на изменения в поведении рынка НА КАЖДОЙ СВЕЧЕ.

				p Канал Дончиана больше не мертвая линия на графике. Теперь это чувствительная кожа торгового робота: 

			+item("Третья задача – усиление торговой стратегии","Классика – это хорошо.  Но мы живем в третьем тысячелетии. Классические торговые стратегии можно и нужно усиливать!")
				p Томас Неснедал, мой чешский учитель, подсказал идею управления объемом позиции на основе вероятности прибыльной сделки. Когда вероятность профита максимальна, робот открывает сделку с увеличенным объемом.

				p Эта идея помогла в два раза повысить прибыльность стратегии Дончиана, сохранив при этом просадку на минимальном уровне.

	// end sTasks