mixin sTransparent(data)
	// start sTransparent
	+b.SECTION.sTransparent.section.text-center#sTransparent&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Прозрачность и честность: <br> что важно знать перед стартом
				h3 Я всегда открыто говорю о рисках и границах обучения.
			p Все результаты, которые Вы видели на этой странице — это факты моей публичной торговли, подтверждённые видео и брокерскими отчётами. Но это не гарантия, что у Вас будет так же. И это не гарантия, что я сам продолжу торговать также. <br> Рынок всегда связан с риском. Ваш результат зависит от депозита, дисциплины и готовности следовать системе,  <br> учиться и нарабатывать насмотренность.

			br
			.h3 Важно помнить:
			br
			+e.row.row.g-4
				.col-lg-3.col-sm-6
					+e.item--s
						p мои результаты — факт, но не гарантия повторения
				.col-lg-3.col-sm-6
					+e.item--s
						p обучение не является индивидуальной инвестиционной рекомендацией
				.col-lg-3.col-sm-6
					+e.item--s
						p каждое торговое решение Вы принимаете самостоятельно
				.col-lg-3.col-sm-6
					+e.item--s
						p финансовые рынки всегда связаны с риском потери капитала
			br
			.h3 Подробнее о рисках:
			br
			.row.gy-4
				.col-lg-6
					+e.item--b
						+logo
						.h3.text-primary Предупреждение <br> о рисках
				.col-lg-6 
					+e.item--b
						+logo
						.h3.text-primary Предупреждение о торговых <br> идеях и инвестиционных рекомендациях
			br
			p Я не обещаю «грааль» и лёгких денег. <br> Я показываю честный путь и открыто передаю свой собственный опыт рыночной торговли

	// end sTransparent