mixin sTitan(data)
	// start sTitan
	+b.SECTION.sTitan.section#sTitan&attributes(attributes)
		.container
			+b.section-title.text-center 
				img(src="img/title-decor.svg", alt="").res-i
				h2 Титан
				h3 Конструктор трендовых роботов с мозгом.
				
			+e.row.row
				.col-lg
					p Это не просто торговый робот. Это Ваш личный завод по штамповке прибыльных адаптивных роботов.

					p Титан работает на платформе Metatrader 5 и позволяет за 15 минут создать готового робота без программирования. 

					p Просто выберите любой актив, система сама подберет лучшие параметры и сгенерирует торгового робота, готового к постановке в торги.
				.col-xl-auto.order-xl-0.order-first
					+e.center
						+e.img-wrap
							+img("img/titan.png").img
						a.btn.btn-primary(href="#sForm") Запустить умный источник дохода
				.col-lg
					h3 Ловите тренды, игнорируйте флеты – автоматически!

					p Забудьте о сложных кодах, дорогих программистах и годах обучения. Создавайте неубиваемых роботов за несколько кликов мышки и позвольте им зарабатывать для Вас деньги.
	// end sTitan