mixin sYourWay(data)
	// start sYourWay
	+b.SECTION.sYourWay.section#sYourWay&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Ваш путь в трейдинге: неделя за неделей
				h3 Учитесь без перегруза, но с постоянным ростом. <br> С первого дня формируйте правильный опыт в реальных сделках — шаг за шагом, вместе с наставником.

			.h3.mb-5.text-center.text-primary 📅 Учебный план на 6 месяцев
			+e.row.row
				mixin item(l,t,...items)
					.col-lg-6
						+e.item
							.text-primary= l
							h3= t
							if items.length
								ul
									each val in items
										li= val
				+item("Неделя 1","Быстрый старт","доступ к видеокурсу;","подключение к Телеграм-каналу;","наблюдение за моими сделками в реальном времени")
				+item("1 месяц","Первые сделки","торгуете вместе со мной;","участвуете в разборах рынка;","изучаете логику стратегии на реальном рынке")
				+item("3 месяц","Самостоятельные шаги","видите, как формируются входы и выходы;","пробуете повторять сделки сами;","учитесь реагировать на изменчивость рынка и накапливаете опыт.")
				+item("6 месяцев","Новый уровень","за плечами полгода практики;","накоплен главный актив трейдера — опыт;","можете оценить рост депозита;","решаете: продолжать со мной (еще один круг набора правильного опыта) или выходить в самостоятельную торговлю.")
			.text-center
				.h3 🎯 Итог. За полгода Вы проживёте путь, который у большинства  <br> трейдеров занимает годы
				br
			 
				p Только это будет не «хаотичный опыт», а правильная насмотренность, правильный опыт, переданный напрямую от наставника.
				br
			 
				a.btn.btn-primary(href="#sForm") Вписаться в поток 
	// end sYourWay