mixin sBenefits(data)
	// start sBenefits
	+b.SECTION.sBenefits.section#sBenefits&attributes(attributes)
		.container
			+b.section-title.text-center  
				h2 Всё для результата в трейдинге — в одном комплекте
				h3 Я собрал систему обучения так, чтобы ничего не осталось «за кадром». <br> Вы попадаете в практическую среду, где есть всё необходимое для роста.
			mixin item(t, t2, footer)
				+e.item
					h3= t
					.row
						+e.col.col-lg-6.col-xxl-5
							.h4= t2
							if footer
								.footer
									| #{footer}
						.col
							block
			+item("✅ Торговая стратегия «Тренд. Паттерн. Сигнал»","5 видеоуроков, которые  дают рабочую базу")
				ol.stronger
					li #[strong Индикаторы Билла Вильямса ]— как использовать правильно, чтобы быстро читать рынок и не усложнять торговлю.
					li #[strong Тренды] — смена, продолжение, правила чтения.
					li #[strong Упрощенный волновой анализ в двух словах] + индикатор АО. Как быстро понять, в какой фазе находится рынок? Как находить точки входа с низким риском и высоким потенциалом?
					li #[strong План входа:] Тренд. Паттерн. Сигнал. Как планировать торговлю, уделяя трейдингу 15–20 минут в день?
					li #[strong Точки входа и ведение сделки:] бар бычьего/медвежьего разворота, прорыв фрактала, управление риском, сопровождение импульса. Как вести сделку, чтобы выжать максимум из движения рынка?

			+item("📲 Закрытый Телеграм-канал для учеников","Сердце обучения",'Здесь вы будете видеть рынок моими глазами — и учиться принимать такие же решения')
				ol
					li разбираем Ваши сделки и торговые журналы;
					li разбираем рынки и получаем новые знания;
					li пошагово корректируем ошибки.
			+item("👥 Мастер-группа","Сердце обучения",'Онлайн-встречи каждые 2 недели, на постоянной основе')
				ol
					li мои разборы рынка до входа в сделку;
					li ведение сделок в реальном времени;
					li библиотека записей реальных сделок;
					li тренируйте Вашу насмотренность на моем опыте.

			+e.item--accent
				h3 🤝 Поддержка и ответы на вопросы
				.row
					.col-lg-6.col-xxl-5
						.h4 Я лично отвечаю  <br> на Ваши вопросы
						.footer Вы не останетесь  один на один с графиком.

					.col-lg-6.col-xxl-7
						img(src="img/sBenefits-img.png" loading="lazy", alt="").res-i
			.text-center 
				.h4.mb-5 Итого. Комплект для скоростного набора мастерства в трейдинге:
				.row.gy-4.mb-5
					.col-lg-4
						<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M6.66699 33.2135V8.21354C6.66699 7.10847 7.10598 6.04866 7.88738 5.26726C8.66878 4.48586 9.72859 4.04688 10.8337 4.04688H31.667C32.109 4.04688 32.5329 4.22247 32.8455 4.53503C33.1581 4.84759 33.3337 5.27151 33.3337 5.71354V35.7135C33.3337 36.1556 33.1581 36.5795 32.8455 36.8921C32.5329 37.2046 32.109 37.3802 31.667 37.3802H10.8337C9.72859 37.3802 8.66878 36.9412 7.88738 36.1598C7.10598 35.3784 6.66699 34.3186 6.66699 33.2135ZM6.66699 33.2135C6.66699 32.1085 7.10598 31.0487 7.88738 30.2673C8.66878 29.4859 9.72859 29.0469 10.8337 29.0469H33.3337M15.0003 16.5469L18.3337 19.8802L25.0003 13.2135" stroke="url(#paint0_linear_12006_1449)" stroke-width="3.33333" stroke-linecap="round" stroke-linejoin="round"/>
						<defs>
						<linearGradient id="paint0_linear_12006_1449" x1="6.66699" y1="4.04688" x2="34.2502" y2="5.2354" gradientUnits="userSpaceOnUse">
						<stop stop-color="#0051FF"/>
						<stop offset="1" stop-color="#0088FF"/>
						</linearGradient>
						</defs>
						</svg>

						div 
							.strong Cтратегия в пяти видеоуроках —
							| правильные знания
					.col-lg-4
						<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.9997 30.7135H20.0163M11.6663 4.04688H28.333C30.174 4.04688 31.6663 5.53926 31.6663 7.38021V34.0469C31.6663 35.8878 30.174 37.3802 28.333 37.3802H11.6663C9.82539 37.3802 8.33301 35.8878 8.33301 34.0469V7.38021C8.33301 5.53926 9.82539 4.04688 11.6663 4.04688Z" stroke="url(#paint0_linear_12006_1454)" stroke-width="3.33333" stroke-linecap="round" stroke-linejoin="round"/>
							<defs>
							<linearGradient id="paint0_linear_12006_1454" x1="8.33301" y1="4.04688" x2="32.4788" y2="4.95724" gradientUnits="userSpaceOnUse">
							<stop stop-color="#0051FF"/>
							<stop offset="1" stop-color="#0088FF"/>
							</linearGradient>
							</defs>
							</svg>
						div
							.strong практика в Телеграм-канале — 
							| правильные опыт и насмотренность
					.col-lg-4
						<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M29.9997 35.7139C29.9997 32.1776 28.5949 28.7863 26.0944 26.2858C23.5939 23.7853 20.2026 22.3805 16.6663 22.3805M16.6663 22.3805C13.1301 22.3805 9.73874 23.7853 7.23825 26.2858C4.73777 28.7863 3.33301 32.1776 3.33301 35.7139M16.6663 22.3805C21.2687 22.3805 24.9997 18.6496 24.9997 14.0472C24.9997 9.44483 21.2687 5.71387 16.6663 5.71387C12.064 5.71387 8.33301 9.44483 8.33301 14.0472C8.33301 18.6496 12.064 22.3805 16.6663 22.3805ZM36.6663 34.0472C36.6663 28.4305 33.333 23.2139 29.9997 20.7139C31.0954 19.8918 31.9715 18.8123 32.5506 17.571C33.1297 16.3296 33.3939 14.9646 33.3197 13.5969C33.2455 12.2291 32.8354 10.9007 32.1255 9.7292C31.4156 8.55772 30.4278 7.5793 29.2497 6.88053" stroke="url(#paint0_linear_12006_1459)" stroke-width="3.33333" stroke-linecap="round" stroke-linejoin="round"/>
							<defs>
							<linearGradient id="paint0_linear_12006_1459" x1="3.33301" y1="5.71387" x2="37.7527" y2="7.77374" gradientUnits="userSpaceOnUse">
							<stop stop-color="#0051FF"/>
							<stop offset="1" stop-color="#0088FF"/>
							</linearGradient>
							</defs>
							</svg>

						div 
							strong мастер-группа — 
							| правильная  <br> поддержка и сообщество
				a.btn.btn-primary(href="#sForm") Получить полный доступ сейчас 
	// end sBenefits