mixin sBenefits(data)
	// start sBenefits
	+b.SECTION.sBenefits.section#sBenefits&attributes(attributes)
		.container
			+b.section-title.text-center 
				img(src="img/title-decor.svg", alt="").res-i
				h2 Что Вы получите с Титаном сегодня
				h3 Ваша путевка в алгоритмический трейдинг без головной боли
			+e.table-wrap
				table
					mixin tr(t)
						tr
							th= t
							td
								block
					+tr("Программный комплекс Титан для терминала Metatrader 5")
						ul
							li Конструктор торговых стратегий.
							li Оптимизатор + тестер торговых стратегий.
							li Средства быстрого запуска стратегии в автоматическую торговлю.
							li Мониторинг + управление.

					+tr("Обучающий видеокурс.  Пошаговые видеоуроки  в трех модулях")
						ul
							li Установка Титана в терминал Metatrader 5.
							li Создание стратегий для: фьючерса на доллар/рубль, USD/RUB у Альфа-Форекс, индекса Nasdaq, криптовалют на примере BTC/USD.
							li Настройка стратегии на необходимую доходность.
							li Управление капиталом на основе фильтров.
							li Управление капиталом на основе безопасного мартингейла.
							li Управление торговым роботом на основе профит-фактора.
							li Управление торговым роботом на основе индивидуальной просадки.
							li Постановка робота в торги на реальном счете.
						p Готовые шаблоны для быстрой генерации стратегий для: фьючерса на доллар/рубль, USD/RUB у Альфа-Форекс, индекса Nasdaq, криптовалют на примере BTC/USD.
					+tr("Мастер-группа.  3+ месяца онлайн-занятий  по продвинутым техникам")
						ul
							li Продвинутые нюансы трендовой торговли.
							li Создание умного портфеля роботов с совокупной просадкой меньше, чем у самой слабой стратегии в портфеле.
							li Усиление стратегий с помощью Титана.
							li Практика создания торговых роботов для разных рынков (по Вашим запросам).
							li Упрощение работы с Титаном.
							li Нюансы настройки автоматической адаптации робота к рыночным изменениям.

					+tr("Расширенная поддержка  в течение всего срока  лицензии")
						ul
							li Техническая поддержка от специалистов Инфоклуба.
							li Помощь в настройке и ответы на вопросы от автора-разработчика в течение всего срока пользования Титаном.


			+e.panel.panel-with-bg.bg-wrap
				+img("img/panel-bg.jpg",'bg').picture-bg
				.text-block
					h3.mb-4 Поддержка сообщества и эксперта: Вы не один
					p Вы получаете не просто софт — Вы становитесь частью сообщества. Задавайте вопросы, советуйтесь по рыночным ситуациям, получайте обратную связь, участвуйте в вебинарах. 

					p: strong Владимир Чамин лично отвечает на вопросы и делится секретами эффективной торговли, накопленными за 20 лет практического опыта в трейдинге.
				+img("img/sBenefits-img.png").res-i
	// end sBenefits