mixin sProfitableRobot(data)
	// start sProfitableRobot
	+b.SECTION.sProfitableRobot.section#sProfitableRobot&attributes(attributes)
		.container
			+b.section-title.text-center
				img(src="img/title-decor.svg", alt="").res-i
				h2 Соберите прибыльного робота  за&nbsp;кофе-брейк
				h3 Никакого кода, никаких месяцев обучения, никаких нервов
				p Титан – это конструктор. Он позволяет самому быстро создавать уникальные торговые стратегии под нужный Вам рынок
			+e.row-wrap
				+e.row
					mixin item(title1, title, text, video)
						+b.sProfitableRobot-item
							+e.inner
								+e.title-sub #{title1}
								+e.title.h5 #{title} 
								p #{text}
					+item("Шаг 1","Выберите «поле боя»","Криптовалюты (для смелых), фьючерсы (для стабильного роста), акции (для консерваторов), индексы (для фанатов драмы), валюты (для заядлых форексников) и т.д. Титан знает, где скрыты тренды и как их найти.") 
					+item("Шаг 2","«Создать» и идите пить кофе","Магия генетических алгоритмов: Титан перелопатит годы истории, переберет тысячи параметров и комбинаций, а затем выдаст варианты идеальных стратегий. Без шума и пыли")
					+item("Шаг 3","Стресс-тест: «Не верь мне на слово!»","Титан не верит в сказки. Он сам проверит стратегию, причем дважды. На прошлых данных (бэктест) и на незнакомых для стратегии данных (форвард-тест). Вы увидите подробный отчет: доходность, просадка, фактор восстановления, кривая депозита и т.д. Если стратегия пройдет все тесты – это Ваш «золотой гусь».")
					+item("Шаг 4","Скажите: «Хочу Х% прибыли!»","Хотите 20%, 50%, 100% в год или более? Назовите цифру и допустимую просадку. Титан подстроится под Ваш аппетит к риску")
					+item("Шаг 5","Запустите в торги и спите спокойно","Перетащите робота на график. Подключите Телеграм. ВСЕ. Теперь Ваш «железный капитан» автоматически торгует и защищает Ваш депозит, а Вы получаете уведомления о прибыли")
			
			+b.video-block
				h3.text-center Смотрите наглядно, как быстро создать прибыльного робота&nbsp;с&nbsp;помощью Титана:
				iframe(src="https://kinescope.io/qKWhHs8UoC6t2Ntwq7Y6TY", allowfullscreen, allow="autoplay; encrypted-media", frameborder="0", width="100%", height="100%")
			+e.panel.panel-with-bg.bg-wrap.text-center
				+img("img/panel-bg.jpg",'bg').picture-bg
				p.mb-4 Раньше таких роботов могли создавать только продвинутые программисты с 10-летним опытом в трейдинге.
				h3.mb-4 С Титаном создать умного торгового робота  может даже бабушка!
				.row
					.col-sm-auto
						a.btn.btn-primary.w-100(href="#sForm") Я бабушка, мне нужен Титан
					.col-sm-auto
						a.btn.btn-primary.w-100(href="#sForm") Мне тоже нужен Титан
					.col-sm-auto
						a.btn.btn-primary.w-100(href="#sForm") Я дедушка, мне нужен Титан
	// end sProfitableRobot