mixin sCalc(data)
	// start sCalc
	+b.SECTION.sCalc.section#sCalc&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Переведите мой результат на Ваш депозит
				h3 Я сделал из $20 000 — #[span.text-success +190’063 $] за 9 месяцев.
			+e.inner
				+e.inner-border
				+e.row.row
					.col-lg-6
						h3 Это впечатляет. Но куда сильнее впечатляет: какой результат мог бы получиться именно на Вашем депозите.
						p Введите свою сумму в калькулятор и посмотрите, как бы она могла измениться, если бы Вы повторяли мои сделки всё это время.
					.col-lg
						+input('Введите сумму ','text','Начальный депозит', 'numeric')
							.currency $
						+e.result 
							div Результат:
							div.text-primary 
								span#result 
								| $
						button.btn.btn-primary.w-100.mb-4 Посчитать
			.text-center
				h3 ⚠️ Важно понимать: это не обещание и не гарантия.
				p Это честная модель, основанная на моих реальных сделках. Я показываю её, чтобы Вы могли трезво оценить масштаб возможностей и увидеть, как стратегия «Тренд. Паттерн. Сигнал» работает не только для крупных счетов, но и для небольших сумм.
	// end sCalc