mixin sSystem(data)
	// start sSystem
	+b.SECTION.sSystem.section.text-center#sSystem&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Простая система. А сложное оставим рынку
			.text-center
				h4 Стратегия «Тренд. Паттерн. Сигнал» проста: <br> всего 5 видеоуроков — и у Вас уже есть рабочий план торговли.
				p Но рынок живой и нелинейный. Он полон исключений и неожиданных ситуаций. <br> Чтобы уверенно действовать в таких условиях, нужна насмотренность — опыт, который не получить из книг.
				br
				br
				br
				h3.mb-4 Как вы получаете ценный опыт со мной
			+e.row.row
				.col-lg-4.col-6
					<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M15.1501 15.714C15.542 14.6001 16.3154 13.6609 17.3334 13.0626C18.3514 12.4643 19.5483 12.2456 20.7121 12.4452C21.8759 12.6448 22.9315 13.2499 23.6919 14.1532C24.4524 15.0566 24.8686 16.1999 24.8668 17.3807C24.8668 20.714 19.8668 22.3807 19.8668 22.3807M20.0001 29.0473H20.0168M4.9868 27.9507C5.23187 28.5689 5.28643 29.2462 5.14347 29.8957L3.36847 35.379C3.31128 35.6571 3.32606 35.9452 3.41143 36.2159C3.49679 36.4867 3.64991 36.7311 3.85625 36.9261C4.06259 37.1211 4.31532 37.2602 4.59047 37.3301C4.86562 37.4 5.15407 37.3985 5.42847 37.3257L11.1168 35.6623C11.7297 35.5408 12.3644 35.5939 12.9485 35.8157C16.5074 37.4777 20.5391 37.8293 24.3321 36.8085C28.125 35.7877 31.4356 33.4601 33.6796 30.2363C35.9237 27.0125 36.957 23.0997 36.5973 19.1883C36.2376 15.2768 34.508 11.6181 31.7136 8.85767C28.9192 6.09721 25.2396 4.41241 21.3241 4.1005C17.4086 3.7886 13.5087 4.86964 10.3125 7.15291C7.11638 9.43617 4.82935 12.7749 3.85496 16.5801C2.88056 20.3852 3.28142 24.4123 4.9868 27.9507Z" stroke="url(#paint0_linear_12006_1312)" stroke-width="3.33333" stroke-linecap="round" stroke-linejoin="round"/>
						<defs>
						<linearGradient id="paint0_linear_12006_1312" x1="3.33398" y1="4.04785" x2="37.7771" y2="5.90298" gradientUnits="userSpaceOnUse">
						<stop stop-color="#0051FF"/>
						<stop offset="1" stop-color="#0088FF"/>
						</linearGradient>
						</defs>
						</svg>

					.strong Телеграм-канал для учеников.
					p Именно здесь я публикую разборы рынка до входа, объясняю логику и веду каждую сделку в прямом эфире. Вы повторяете шаги и учитесь
				.col-lg-4.col-6
					<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M29.9997 35.7139C29.9997 32.1776 28.5949 28.7863 26.0944 26.2858C23.5939 23.7853 20.2026 22.3805 16.6663 22.3805M16.6663 22.3805C13.1301 22.3805 9.73874 23.7853 7.23825 26.2858C4.73777 28.7863 3.33301 32.1776 3.33301 35.7139M16.6663 22.3805C21.2687 22.3805 24.9997 18.6496 24.9997 14.0472C24.9997 9.44483 21.2687 5.71387 16.6663 5.71387C12.064 5.71387 8.33301 9.44483 8.33301 14.0472C8.33301 18.6496 12.064 22.3805 16.6663 22.3805ZM36.6663 34.0472C36.6663 28.4305 33.333 23.2139 29.9997 20.7139C31.0954 19.8918 31.9715 18.8123 32.5506 17.571C33.1297 16.3296 33.3939 14.9646 33.3197 13.5969C33.2455 12.2291 32.8354 10.9007 32.1255 9.7292C31.4156 8.55772 30.4278 7.5793 29.2497 6.88053" stroke="url(#paint0_linear_12006_1306)" stroke-width="3.33333" stroke-linecap="round" stroke-linejoin="round"/>
						<defs>
						<linearGradient id="paint0_linear_12006_1306" x1="3.33301" y1="5.71387" x2="37.7527" y2="7.77374" gradientUnits="userSpaceOnUse">
						<stop stop-color="#0051FF"/>
						<stop offset="1" stop-color="#0088FF"/>
						</linearGradient>
						</defs>
						</svg>

					.strong Мастер-группа.
					p Регулярные онлайн-встречи с практическими разборами Ваших сделок и рынков
				.col-lg-4.col-6
					<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M15.1501 15.714C15.542 14.6001 16.3154 13.6609 17.3334 13.0626C18.3514 12.4643 19.5483 12.2456 20.7121 12.4452C21.8759 12.6448 22.9315 13.2499 23.6919 14.1532C24.4524 15.0566 24.8686 16.1999 24.8668 17.3807C24.8668 20.714 19.8668 22.3807 19.8668 22.3807M20.0001 29.0473H20.0168M4.9868 27.9507C5.23187 28.5689 5.28643 29.2462 5.14347 29.8957L3.36847 35.379C3.31128 35.6571 3.32606 35.9452 3.41143 36.2159C3.49679 36.4867 3.64991 36.7311 3.85625 36.9261C4.06259 37.1211 4.31532 37.2602 4.59047 37.3301C4.86562 37.4 5.15407 37.3985 5.42847 37.3257L11.1168 35.6623C11.7297 35.5408 12.3644 35.5939 12.9485 35.8157C16.5074 37.4777 20.5391 37.8293 24.3321 36.8085C28.125 35.7877 31.4356 33.4601 33.6796 30.2363C35.9237 27.0125 36.957 23.0997 36.5973 19.1883C36.2376 15.2768 34.508 11.6181 31.7136 8.85767C28.9192 6.09721 25.2396 4.41241 21.3241 4.1005C17.4086 3.7886 13.5087 4.86964 10.3125 7.15291C7.11638 9.43617 4.82935 12.7749 3.85496 16.5801C2.88056 20.3852 3.28142 24.4123 4.9868 27.9507Z" stroke="url(#paint0_linear_12006_1312)" stroke-width="3.33333" stroke-linecap="round" stroke-linejoin="round"/>
						<defs>
						<linearGradient id="paint0_linear_12006_1312" x1="3.33398" y1="4.04785" x2="37.7771" y2="5.90298" gradientUnits="userSpaceOnUse">
						<stop stop-color="#0051FF"/>
						<stop offset="1" stop-color="#0088FF"/>
						</linearGradient>
						</defs>
						</svg>

					.strong Поддержка и обратная связь. 
					p  Поддержка и обратная связь. Я лично комментирую Ваши торговые журналы и помогаю корректировать ошибки
			p.mb-4 Так Вы не просто изучаете систему — Вы тренируете насмотренность на моём опыте. <br> Учитесь видеть: где рынок идёт по плану, где важно распознать исключение, а где нужно просто наблюдать.
			h4.mb-4 📌 В этом и есть суть: <br> простая система + правильный опыт = успех в трейдинге.
			a.btn.btn-primary(href="#sForm") Хочу получить систему и начать тренировать насмотренность 
	// end sSystem