mixin sStudy(data)
	// start sStudy
	+b.SECTION.sStudy.section#sStudy&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Хотите научиться торговать  <br> также — и даже лучше?
				
			.def-swiper.def-swiper-js.mb-5
				+e.slider--js.swiper
					.swiper-wrapper
						+e.slide.swiper-slide
							<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M15 8.5472V15.2139M15 25.2139V28.5472M28.3333 5.21387V8.5472M28.3333 21.8805V26.8805M5 5.21387V31.8805C5 32.7646 5.35119 33.6124 5.97631 34.2376C6.60143 34.8627 7.44928 35.2139 8.33333 35.2139H35M13.3333 15.2139H16.6667C17.5871 15.2139 18.3333 15.9601 18.3333 16.8805V23.5472C18.3333 24.4677 17.5871 25.2139 16.6667 25.2139H13.3333C12.4129 25.2139 11.6667 24.4677 11.6667 23.5472V16.8805C11.6667 15.9601 12.4129 15.2139 13.3333 15.2139ZM26.6667 8.5472H30C30.9205 8.5472 31.6667 9.29339 31.6667 10.2139V20.2139C31.6667 21.1343 30.9205 21.8805 30 21.8805H26.6667C25.7462 21.8805 25 21.1343 25 20.2139V10.2139C25 9.29339 25.7462 8.5472 26.6667 8.5472Z" stroke="url(#paint0_linear_12006_1258)" stroke-width="3.33333" stroke-linecap="round" stroke-linejoin="round"/>
								<defs>
								<linearGradient id="paint0_linear_12006_1258" x1="5" y1="5.21387" x2="35.9988" y2="6.8835" gradientUnits="userSpaceOnUse">
								<stop stop-color="#0051FF"/>
								<stop offset="1" stop-color="#0088FF"/>
								</linearGradient>
								</defs>
								</svg>

							p Входить в рынок <br> раньше толпы
						+e.slide.swiper-slide
							<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M19.9997 10.214C19.9998 9.5548 20.1954 8.91048 20.5617 8.36244C20.9279 7.81441 21.4485 7.38728 22.0575 7.13504C22.6665 6.88281 23.3366 6.8168 23.9831 6.94536C24.6296 7.07392 25.2235 7.39127 25.6897 7.8573L35.6897 17.8573C36.3146 18.4824 36.6656 19.3301 36.6656 20.214C36.6656 21.0979 36.3146 21.9455 35.6897 22.5706L25.6897 32.5706C25.2235 33.0367 24.6296 33.354 23.9831 33.4826C23.3366 33.6111 22.6665 33.5451 22.0575 33.2929C21.4485 33.0407 20.9279 32.6135 20.5617 32.0655C20.1954 31.5175 19.9998 30.8731 19.9997 30.214V10.214Z" stroke="#006FFF" stroke-width="3.33333" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M3.33301 10.214C3.33315 9.5548 3.52872 8.91048 3.895 8.36244C4.26128 7.81441 4.78183 7.38728 5.39083 7.13504C5.99983 6.88281 6.66994 6.8168 7.31645 6.94536C7.96296 7.07392 8.55684 7.39127 9.02301 7.8573L19.023 17.8573C19.6479 18.4824 19.999 19.3301 19.999 20.214C19.999 21.0979 19.6479 21.9455 19.023 22.5706L9.02301 32.5706C8.55684 33.0367 7.96296 33.354 7.31645 33.4826C6.66994 33.6111 5.99983 33.5451 5.39083 33.2929C4.78183 33.0407 4.26128 32.6135 3.895 32.0655C3.52872 31.5175 3.33315 30.8731 3.33301 30.214V10.214Z" stroke="#006FFF" stroke-width="3.33333" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>

							p Удерживать движение <br>  до самого конца
						+e.slide.swiper-slide
							<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M26.6663 13.5474H16.6663C15.7823 13.5474 14.9344 13.8986 14.3093 14.5237C13.6842 15.1488 13.333 15.9966 13.333 16.8807C13.333 17.7648 13.6842 18.6126 14.3093 19.2377C14.9344 19.8628 15.7823 20.214 16.6663 20.214H23.333C24.2171 20.214 25.0649 20.5652 25.69 21.1903C26.3152 21.8155 26.6663 22.6633 26.6663 23.5474C26.6663 24.4314 26.3152 25.2793 25.69 25.9044C25.0649 26.5295 24.2171 26.8807 23.333 26.8807H13.333M19.9997 30.214V10.214M36.6663 20.214C36.6663 29.4188 29.2044 36.8807 19.9997 36.8807C10.7949 36.8807 3.33301 29.4188 3.33301 20.214C3.33301 11.0093 10.7949 3.54736 19.9997 3.54736C29.2044 3.54736 36.6663 11.0093 36.6663 20.214Z" stroke="#006FFF" stroke-width="3.33333" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>

							p И забирать всю прибыль,  <br>которую другие упускают
			p Чтобы это стало возможным, нужен опыт. Обычно он даётся ценой многих лет проб и ошибок. <br> Я предлагаю короткий путь: торгуйте вместе со мной и учитесь прямо в процессе

			h4.strong.mb-4 ⚡ Это не «сигналы из чата» и не инвестиционные рекомендации.

			h3.text-primary.mb-4 Чем уникален формат обучения

			.def-swiper.def-swiper-js.mb-5
				+e.slider--js.swiper
					.swiper-wrapper
						+e.slide--type-2.swiper-slide
							p Я разбираю рынок ещё до входа в сделку
						+e.slide--type-2.swiper-slide
							p Объясняю, где  <br> и почему захожу
						+e.slide--type-2.swiper-slide
							p Веду сделку <br> и показываю <br> каждый шаг
						+e.slide--type-2.swiper-slide
							p Вы обучаетесь <br> и накапливаете <br> правильный опыт 
			h3.text-primary.mb-4 Обычно трейдеру нужно 10 лет, чтобы пройти хаос  <br> и наработать «чувство рынка».
			h4.mb-4 Я предлагаю другой путь:
			.def-swiper.def-swiper-js.mb-5
				+e.slider--js.swiper
					.swiper-wrapper
						+e.slide--type-3.swiper-slide
							p Учиться с наставником на реальном рынке
						+e.slide--type-3.swiper-slide
							p С первого дня  Вы тренируете  насмотренность,  которую невозможно получить из книг
						+e.slide--type-3.swiper-slide
							p Вы участвуете  в сделках вместе со мной  (хоть на бумаге  или демо-счете)
						+e.slide--type-3.swiper-slide
							p повторяете шаги — и постепенно начинаете видеть рынок, как его вижу я.
			a.btn.btn-primary(href='#') Начать обучение на реальных сделках
	// end sStudy