mixin sSwitchToTitan(data)
	// start sSwitchToTitan
	+b.SECTION.sSwitchToTitan.section#sSwitchToTitan&attributes(attributes)
		.container
			+b.section-title.text-center 
				img(src="img/title-decor.svg", alt="").res-i
				h2 Почему 9 из 10 трейдеров меняют своих «роботов-динозавров» на конструктор Титан?
				h3 Рынок – это джунгли. «Динозавры» тут давно вымерли. Выживают только те, кто эволюционировал.
			+e.table-wrap
				table 
					thead.text-center
						th  
						th Обычный торговый робот
						th.text-primary Титан 
					tbody
						mixin line(t1, t2, t3) 
							tr
								th.title: strong #{t1}
								td.base-v.text-danger #{t2}
								td.titan-v #{t3}
						+line('Создание собственного уникального робота', 'Годы обучения и программирования', 'Готовый робот за 15 минут, без кода, в несколько кликов мышки.')
						+line('Портфельная торговля', 'Один торговый робот для одного рынка.', 'Бесконечный источник торговых роботов для любых рынков.')
						+line('Проверка стратегии', 'Без возможности протестировать. Либо красивый бэктест и слив в реале.', 'Двойная проверка: бэктест + форвард-тест на незнакомых данных. Исключает подгонку под историю.')
						+line('Защита депозита', 'Стоп-лосс, контроль риска в сделке', '4 уровня брони, гарантирующие защиту от слива депозита.')
						+line('Адаптация к изменениям рынка', 'Сливает при смене рыночной фазы – «это норма»', 'Автоматически перестраивает торговую стратегию в реальном времени')
						+line('Возможности для увеличения дохода', 'Мартингейл – безубыточная торговля какой-то период, затем слив депозита в ноль за один день. 99% торговых роботов в Рунете основаны на мартингейле', 'Интеллектуальное управление объемом позиции на основе вероятности прибыльной сделки. Безопасный мартингейл, работающий только на одну сделку, без усреднений')
						+line('Контроль', 'Рабство у графика', '0 времени у монитора, все важные уведомления приходят в Телеграм')
						+line('Фильтр от убыточных сделок', 'Не предусмотрен', 'Встроенная фильтрация ложных сигналов: меньше сделок – больше прибыли')
						+line('Настройка стратегии', 'Работает в формате «как есть», без возможности донастройки', 'Конструктор. Позволяет гибко настраивать каждый параметр торговой стратегии. Умеет автоматически подбирать лучшие комбинации параметров под выбранный рынок')
						+line('Торговая стратегия', '«Авторская супер-стратегия», эксплуатирующая временную уязвимость рынка. Срок актуальности – не более двух лет', 'Классическая трендовая стратегия, которая работает уже почти 100 лет и будет работать, пока будут существовать финансовые рынки')
						+line('Генерация прибыли', 'Ловит 20-30% от больших движений', 'Бесконечный источник торговых роботов для любых рынков.')
						+line('', '', '')

			+e.panel.panel-with-bg.bg-wrap.text-center
				+img("img/panel-bg.jpg",'bg').picture-bg
				h3.mb-4 Титан — это не просто торговый робот
				p.mb-4 Это Ваш персональный алготрейдинг-завод, который превращает тренды в стабильный и надежный источник дохода
				a.btn.btn-primary(href="#sForm") Забрать свою копию Титана прямо сейчас!

	// end sSwitchToTitan