// start .headerBlock
.headerBlock {
	--sPT: #{rem(30)};
	--sPB: #{rem(60)};
	--sTPB: #{rem(60)};
	text-align: center;
	position: relative;
	background-image: url(../img/header-bg.png);
	.btn {
		width: 100%;
		max-width: rem(372);
		z-index: 4;
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(0);
		}
		margin-bottom: rem(110);
	}
	h1 {
		color: $primary;
	}
	.section {
		position: relative;
		z-index: 4;
	}
	img {
		max-width: 100%;
		pointer-events: none;
		max-height: 100%;
		position: absolute;
		max-width: 120%;
		bottom: 0;
		z-index: -1;
		right: -5%;
	}
	&__row {
		display: grid;
		gap: 10px;
		margin: 40px auto;
		max-width: rem(896);
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		counter-reset: num;
		&--lg {
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		}
	}
	&__item {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		background: rgba(255, 255, 255, 0.3);
		border: 1px solid #272428;
		backdrop-filter: blur(11.25px);
		border-radius: 300px;
		font-weight: 600;
		text-wrap: balance;
		&--lg {
			height: em(40);
			@include rfs(64px);
		}
		&--sm {
			position: relative;
			padding: 10px;
			min-height: rem(118);
			&::before {
				content: counter(num);
				counter-increment: num;
				position: absolute;
				width: 40px;
				height: 40px;
				left: calc(50% - 40px / 2 + 0.82px);
				top: calc(50% - 40px / 2 - 58.18px);
				color: #fff;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				/* linear */
				background: linear-gradient(93.08deg, #0051ff 0%, #0088ff 98.33%);

				/* Inside auto layout */
				flex: none;
				order: 1;
				flex-grow: 0;
				z-index: 1;
			}
		}
	}
	@include media-breakpoint-up(xl) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
}

// end.headerBlock

.headerBlock-item {
	height: 100%;
	padding: rem(24px);
	background: rgba(0, 0, 0, 0.59);
	backdrop-filter: blur(6.6px);
	border-radius: 22px;
	text-align: center;
	font-size: 14px;
	text-wrap: balance;
	font-weight: bold;
	line-height: calc(19.6 / 14);
	img {
		margin-bottom: rem(16);
	}
}
