// start .headerBlock
.headerBlock {
	--sPT: #{rem(30)};
	--sPB: #{rem(0)};
	--sTPB: #{rem(60)};
	text-align: center;
	position: relative;
	.btn {
		width: 100%;
		max-width: rem(372);
		z-index: 4;
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(0);
		}
		margin-bottom: rem(110);
	}
	h1 {
		color: #000;
	}
	.section {
		position: relative;
		z-index: 4;
	}
	img {
		max-width: 100%;
		pointer-events: none;
		max-height: 100%;
		&:nth-child(1) {
			position: absolute;
			max-width: 120%;
			@include media-breakpoint-up(lg) {
				left: 40%;
			}
			left: 20%;
			bottom: 0;
		}
		&:nth-child(2) {
			position: absolute;
			@include media-breakpoint-up(lg) {
				right: 40%;
			}
			right: 20%;
			bottom: 0;
			z-index: 3;
		}
		&:nth-child(3) {
			@include media-breakpoint-up(lg) {
				max-width: rem(626);
			}
			z-index: 4;
			position: relative;
			display: block;
			margin-left: auto;
			transform: translateY(25px);
			// margin-bottom: -15px;
		}
	}
	&::before {
		content: "ТИТАН";
		position: absolute;
		bottom: 0;
		color: #e0e4ea;
		opacity: 0.5;
		left: 50%;
		transform: translate(-50%, 8%);
		z-index: 2;
		line-height: 0.9;
		font-weight: bold;
		text-align: center;
		font-size: 32vw;
	}
	@include media-breakpoint-up(xl) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
}

// end.headerBlock

.headerBlock-item {
	height: 100%;
	padding: rem(24px);
	background: rgba(0, 0, 0, 0.59);
	backdrop-filter: blur(6.6px);
	border-radius: 22px;
	text-align: center;
	font-size: 14px;
	text-wrap: balance;
	font-weight: bold;
	line-height: calc(19.6 / 14);
	img {
		margin-bottom: rem(16);
	}
}
