mixin sIsForYou(data)
	// start sIsForYou
	+b.SECTION.sIsForYou.section#sIsForYou&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Подойдёт ли Вам это обучение?
				h3 Честно скажу: система «Тренд. Паттерн. Сигнал» подходит не всем. <br> И это важно понимать до старта.

			+e.row.row
				.col-lg-6
					+e.item--s
						h3 ✅ Обучение подойдёт Вам, если:
						ul
							li Вы хотите системный трендовый подход вместо хаоса;
							li готовы уделять 15–20 минут в день для анализа и сделок;
							li понимаете, что убыточные сделки — часть процесса;
							li хотите учиться, повторяя за наставником, и готовы соблюдать риск-менеджмент;
							li готовы тренироваться в самостоятельном анализе и советоваться с наставником

				.col-lg-6
					+e.item--d
						h3 ❌ Обучение не для Вас, если:
						ul
							li Вы ищете «грааль» и верите в кнопку «деньги без риска»;
							li не готовы учиться и анализировать свои сделки;
							li считаете, что рынок обязан всегда приносить прибыль;
							li ждете от меня только сигналы и не готовы разбираться в рыночном анализе;
							li игнорируете риск-менеджмент и торгуете «на авось».

			.text-center 
				p Если это про Вас — результат не заставит себя ждать, и Вы будете гордиться шагом в сторону системного трейдинга.
				h3 Я хочу, чтобы в обучение приходили те, кто действительно готов меняться.
				br
				a.btn.btn-primary(href="#sForm") Да, это обучение точно для меня 
	// end sIsForYou