mixin sQA(data)
	// start sQA
	+b.SECTION.sQA.section#sQA&attributes(attributes)
		.container
			+b.section-title
				h2privacy_agreement_block
			+ddGroup
				+ddGroupItem('Какой минимальный депозит необходим для работы с Титаном?')
					p Минимальный депозит зависит от рынка и торгового инструмента.
					p Например, для торговли фьючерсом на доллар/рубль необходим депозит от 40 000 рублей.
					p Для торговли через форекс-брокеров (индексы, валютные пары, криптовалюты) необходим депозит от 100$.
					p Для обеспечения корректной работы механизма защиты от глубоких просадок и получения значимого финансового результата рекомендуется начальный депозит от 2000 USD или от 200 000 рублей. Это позволяет обеспечить достаточный объем позиции для работы алгоритма защиты от просадок, а также достичь уровня дохода, сопоставимого с затратами времени и ресурсов.


				+ddGroupItem('Какой уровень подготовки должен быть для работы с Титаном?')
					p От Вас требуется общая компьютерная грамотность: умение пользоваться браузером, электронной почтой, просматривать видео, скачивать и устанавливать программы, регистрироваться на сайтах.


				+ddGroupItem('На каких рынках и активах можно торговать с помощью Титана?')
					p Вы можете исследовать с помощью Титана любые активы, доступные в Вашем Metatrader 5.
					p В рамках обучения мы будем рассматривать рынки, которые лучше всего подходят для трендовой торговли: фьючерсы Московской Биржи, фондовые индексы, валютные пары, криптовалюты, акции.

				+ddGroupItem('На каких таймфреймах можно работать?')
					p Можно работать на любых таймфреймах, от М1 до D1.


				+ddGroupItem('У какого брокера открывать счет?')
					p Можно работать на любых таймфреймах, от М5 до D1.
				+ddGroupItem('У какого брокера открывать счет?')
					p НВы можете открыть счет у любого брокера, который дает доступ к Metatrader 5.
					p Для торговли фьючерсами и акциями Московской Биржи подходит российский брокер Финам.
					p Если Вы новичок и у Вас никогда не было брокерского счета, Финам сможет предоставить Вам Metatrader 5 только через год после открытия счета. В этом случае Вы можете начать торговлю через российского форекс-брокера Альфа-Форекс.
					p Для торговли валютами, иностранными индексами, криптовалютами и другими активами через CFD могут подойти брокеры: Amarkets, Alpari, Roboforex, Bybit.


				+ddGroupItem('Можно ли тестировать робота на демо-счете?')
					p Да, функционал "Титана" полностью доступен для использования на демо-счетах брокеров в MetaTrader 5.
					p С российскими фьючерсами, к сожалению, потренироваться на демо не получится. Для тестов можно вести торговлю 1 лотом на небольшом депозите.
					p Если Вам интересна торговля через форекс-брокеров, у них можно открыть демо-счет, потренироваться, а на реальный счет перейти тогда, когда почувствуете уверенность в результатах.


				+ddGroupItem('Нужно ли использовать виртуальный сервер для роботов?')
					p Да, торговый робот нуждается в бесперебойной работе. Для этого рекомендуем арендовать виртуальный сервер, на котором Титан сможет быть в «боевом режиме» круглосуточно.
					p В обучающих материалах Вы получите в подарок инструкцию, как арендовать дешевый сервер (около 1000 руб. в год) без графической оболочки, установить на него Metatrader 5 и Титан.

				+ddGroupItem('Минимальные технические требования к компьютеру (или серверу)')
					p Достаточно компьютера (или VPS сервера), не старше 10 лет, с 64-разрядной операционной системой Windows 8/8.1/10/11 или Windows Server 2012 R2. Процессор с 4-мя ядрами и более. Оперативная память от 4 Гб и твердотельный дисковый накопитель SSD любого объема.
				+ddGroupItem('В чем принципиальное отличие "Безопасного мартингейла" от классического?')
					p В чем принципиальное отличие "Безопасного мартингейла" от классического?
					p Классический мартингейл – это усреднение в убыточных сделках. Вы докупаете актив, который в данный момент находится в нереализованном убытке, тем самым снижаете среднюю цену покупки и увеличиваете шанс вывести сделку в плюс. Хотя такой подход позволяет какое-то время избегать убыточных сделок, в долгосрочном периоде стратегия мартингейла всегда приводит к полному сливу депозита.
					p Безопасный мартингейл – подход, основанный на статистике. Статистика трендовой торговли говорит о том, что после убыточной сделки следующая сделка чаще всего прибыльная. Стратегия увеличивает объем в следующей сделке после убыточной, но только один раз. Эскалация риска отсутствует, слив депозита при таком подходе невозможен.
					p Титан позволяет протестировать этот подход на исторических данных и наглядно убедиться, что одноразовое повышение объема в итоге приводит к росту доходности без заметного увеличения просадки.

			
			+e.panel.panel-with-bg.bg-wrap.text-center
				+img("img/panel-bg.jpg",'bg').picture-bg
				h3.mb-4 Остались вопросы?
				p.mb-4 Заполните форму и дождитесь звонка специалиста Инфоклуба, чтобы получить подробную голосовую консультацию
				a.btn.btn-primary(href="#sForm") Заказать бесплатную консультацию 
	// end sQA