mixin sPrivateProfit(data)
	// start sPrivateProfit
	+b.SECTION.sPrivateProfit.section#sPrivateProfit&attributes(attributes)
		.container
			+b.section-title.text-center 
				img(src="img/title-decor.svg", alt="").res-i
				h2 ЛИЧНЫЕ выгоды от дружбы с Титаном
			+e.row.row
				mixin item(t1)
					.col-lg-6
						+e.item
							h3 #{t1}
							block
				+item('Простота и доступность  для новичков')
					p Вы можете начать зарабатывать на бирже, даже если раньше никогда не слышали слово «трейдинг».

					p Чтобы управиться с Титаном Вам не нужно быть программистом или опытным трейдером. Вы сможете создавать эффективные торговые стратегии всего за несколько кликов. Это идеальный инструмент для тех, кто хочет начать алгоритмическую торговлю без лишних сложностей

				+item('Встроенный «щит от дурака».  Ваша защита от критических ошибок')
					p Титан обучит Вас безопасному трейдингу на практике. Вы наглядно увидите и прочувствуете, как:
					ul
						li #[strong Не дать просадке превратиться в катастрофу.] Титан сам сжимает объем сделки или останавливается до точки невозврата.
						li #[strong Хладнокровно отключить убыточную стратегию – не высиживая слив,] а по четким сигналам, сохранив не только депозит, но и заработанную прибыль.
						li #[strong Не поддаться хайпу супер-доходности] – Вы будете настраивать доходность стратегии осознанно, зная точный размер риска.
						li #[strong Использовать данные, а не интуицию.] Опирайтесь на цифры, исходя из теста на реальном рынке. Если у Вас нет возможности протестировать стратегию до постановки в торги, она никогда не будет торговать на Вашем реальном счете.

				+item('Надежный и безопасный дополнительный доход')
					p Перестаньте бояться, что робот сольет Ваши накопления. Титан превратит хаос рынка в стабильный источник дохода и сохранит Ваши нервы.

					p Трендовые стратегии одинаково хорошо работают и на небольшом депозите, и на миллионах

				+item('Главная выгода – Ваша свобода!')
					p Свобода от ручной торговли, от страха просадок, от сложного кода, от долгой учебы трейдингу, от длительных тренировок и наработки навыков. 5-10 минут в месяц на контроль вместо часов у монитора. 

					p Автоматизация устраняет человеческий фактор – робот будет торговать по четким правилам, даже если Вы в отпуске.

			+e.panel.panel-with-bg.bg-wrap.text-center
				+img("img/panel-bg.jpg",'bg').picture-bg
				h3.mb-4 Титан дарит не просто деньги
				p.mb-4 Он дарит Вашу жизнь обратно. Это источник дохода, работающий пока Вы спите, путешествуете, живете.
				a.btn.btn-primary(href="#sForm") Запустить надежный источник дохода сейчас
	// end sPrivateProfit