mixin sInTheEnd(data)
	// start sInTheEnd
	+b.SECTION.sInTheEnd.section.text-center#sInTheEnd&attributes(attributes)
		.container
			+b.section-title
				h2 Что в итоге Вы получите —  <br> и зачем нужен «правильный опыт»?
				h3 Накопленный правильный опыт меняет всё. Он переводит трейдинг  <br> из хаоса в системную работу.

			+e.accent-text Если вы мечтаете о точных, прибыльных сделках —  <br> лучший путь не теория и красивые картинки, а практика  <br> на реальном рынке, в реальных сделках,  <br> рядом с наставником.
			br
			h3 В ручном трейдинге все решает только опыт. Но есть разница:
			br
			+e.row.row.gy-4
				.col-lg-6 
					+e.item--lg
						p 9 лет хаотичных действий
						<svg width="28" height="33" viewBox="0 0 28 33" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M13.9999 0.949219V30.1484M13.9999 30.1484L1.83496 23.125M13.9999 30.1484L26.1649 23.125" stroke="black" stroke-width="4"/>
							</svg>


						.h3.text-danger ноль пользы
				.col-lg-6 
					+e.item--lg
						p 6 месяцев правильного опыта с наставником

						<svg width="28" height="33" viewBox="0 0 28 33" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M13.9999 0.949219V30.1484M13.9999 30.1484L1.83496 23.125M13.9999 30.1484L26.1649 23.125" stroke="black" stroke-width="4"/>
							</svg>
						.h3.text-success скачок в мастерстве
			br
			h3 Что даёт опыт, когда он правильный:
			br
			+e.row.row.gy-4
				mixin item(t)
					.col-lg-4.col-sm-6
						+e.item--md!= t
				+item("Понимать рынок после двух секунд взгляда на график")
				+item("Входить в сделки до толпы, в начале движения")
				+item("Находить входы с минимальным  риском и потенциалом прибыли  от 1:5 до 1:20")
				+item("Спокойно держать сделку до конца импульса")
				+item("Видеть рыночную неопределенность и понимать, когда лучше не входить вовсе")
				+item("Сохранять уверенность и дисциплину даже при серии убыточных сделок")
			br
			+e.row.row.gy-4 
				.col-lg-6
					+e.item--bg(style="background: #FFF5FC;")
						.h3 Мои ученики до обучения:
						ul
							li хаотичные входы и сомнения;
							li страх и постоянное «слишком рано» или «слишком поздно»;
							li убытки и нервозность.

				.col-lg-6
					+e.item--bg(style="background: #F5FFF9;")
						.h3 После:
						ul
							li чёткий торговый план;
							li спокойствие и уверенность;
							li сделки в начале движения, прибыль на импульсах;
							li понимание рынка вместо угадывания.

			br
			h3 Вот так они торгуют:
			br
			+defSlider()
				- for (var i = 1; i < 16; i++) 
					+e.slide.swiper-slide(data-fancybox='modal-slider-rev' data-src=`img/photo.png`)
						img(src=`img/photo.png` width="640" height="389" alt="").res-i 

			.strong Итог:
			p Вы перестаёте играть в азарт, становитесь трейдером с системой и, главное, с опытом. <br> Это состояние, когда Вы точно знаете, что делаете. И регулярно забираете с рынка свои деньги.

			h3 Хочу перейти на уровень «После» и получать правильный опыт     
	// end sInTheEnd