mixin sCleverExperiment(data)
	// start sCleverExperiment
	+b.SECTION.sCleverExperiment.section#sCleverExperiment&attributes(attributes)
		.container
			.text-center
				+b.section-title.text-center
					h2 Не шанс на удачу, а умный  <br> эксперимент на 90 дней
					br
					p Я знаю Ваш внутренний вопрос: «А получится ли у меня?» <br> Давайте решим его не словами, а делом. <br> Не нужно принимать решение «на всю жизнь». 
				h3 Сделайте короткий, контролируемый эксперимент на 90 дней — и посмотрите результат своими глазами
				br
				h3 Что произойдёт за 90 дней

				br
				+e.row.row
					+e.col.col-xl.col-lg-3.col-md-4.col-6: p 3 месяца проведете в закрытом Телеграм-канале, где я разбираю рынки до входа и веду сделки;
					+e.col.col-xl.col-lg-3.col-md-4.col-6: p Вы получите доступ к видеоурокам и освоите стратегию «Тренд. Паттерн. Сигнал»
					+e.col.col-xl.col-lg-3.col-md-4.col-6: p Каждое решение будете принимать по чёткой схеме: тренд → паттерн → сигнал
					+e.col.col-xl.col-lg-3.col-md-4.col-6: p Начнёте накапливать правильный опыт и насмотренность
					+e.col.col-xl.col-lg-3.col-md-4.col-6: p К концу срока честно оцените результат и решите: продолжать со мной или торговать самостоятельно

				br
				h3 Вы будете видеть рынок моими глазами, повторять сделки и формировать опыт, который решает всё.
				br
				p В одном решении собраны: простая стратегия + разборы до входа + реальная практика + поддержка и обратная связь. <br> Я не обещаю чудес. Я создаю условия, в которых рост становится естественным.
				+e.bg-block
					.row.gy-4
						.col-xxl
							p.text-start Представьте, что через 90 дней Вы оглядываетесь назад и видите: рынок стал понятнее, сделки логичнее, уверенности больше. В этот момент внутри возникает естественное решение: «Я хочу обучаться трейдингу на сделках с наставником». Вы спокойно держите сделку, в которую вошли 2 недели назад, в самом начале длиннющего тренда, и видите, как прибыль продолжает расти…
						.col-lg
							+e.item--s
								h3 Что Вы чувствуете в этот момент?
						.col-lg
							+e.item--s
								h3 Готовы <br> на 3-месячный эксперимент, чтобы это прожить?
					br
					a.btn.btn-primary.w-100(href="#sForm") Получить доступ к обучению на сделках с наставником 
							
	// end sCleverExperiment