mixin sUnreal(data)
	// start sUnreal
	+b.SECTION.sUnreal.section#sUnreal&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Почему самому почти нереально?
				h3 Чтобы научиться входить в такие сделки и высиживать движение до конца, нужен опыт. Причем, нужен правильный опыт.
			+e.row
				p Путь «трейдера с 10-летним опытом»  обычно выглядит так:
				+e.inner-row
					+e.item 9 лет 
						span.text-danger хаотичных ошибок
					+e.item и хорошо если есть хотя бы 1 год #[span.text-primary полезной практики],  которая учит результативному трейдингу.
			h3.text-center.mb-4 Есть путь намного короче
			.row.gy-4
				+e.col.col-md
					+e.block
						h3 Получать опыт напрямую от успешного трейдера:
						ul
							li с разъяснением, почему именно здесь вход и здесь выход;
							li получать объяснения до входа в сделку – есть время самому посмотреть рынок и принять торговое решение;
							li Ваша насмотренность тренируется правильно с первого дня, Вы накапливаете опыт и начинаете сами видеть ситуации для результативных сделок.

				+e.col.col-lg-5
					+e.block--bg
						h3 Я торгую. Вы проживаете каждую сделку на реальном рынке и #[span.text-primary накапливаете правильный ] опыт — именно он делает торговлю прибыльной.
	// end sUnreal