// start .sUnreal
.sUnreal {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}
	p {
		font-weight: 600;
	}
	&__row {
		@include media-breakpoint-up(xl) {
			display: flex;
			align-items: center;
		}
		gap: rem(20);
		margin-bottom: 48px;
	}
	&__inner-row {
		@include media-breakpoint-up(sm) {
			display: flex;
			align-items: center;
			gap: rem(40);
		}
	}
	&__item {
		border: 1px solid;
		padding: rem(40);
		border-radius: rem(100);
		text-align: center;
		font-weight: 600;
		&:nth-child(1) {
			flex-grow: 1;
			position: relative;
			text-wrap: nowrap;
			@include media-breakpoint-up(sm) {
				margin-bottom: 0;
			}
			margin-bottom: rem(20);
			&::after {
				content: url(../img/arrow.svg);
				position: absolute;
				@include media-breakpoint-up(sm) {
					left: 98%;
					top: 50%;
					transform: translateY(-50%);
				}
				@include media-breakpoint-only(xs) {
					left: 50%;
					bottom: -40px;
					transform: translateX(-50%) rotate(90deg);
				}
			}
		}
	}

	&__block {
		background: #f5faff;
		padding: rem(40);
		border-radius: rem(40);
		margin-bottom: rem(40);
		min-height: 100%;
		ul {
			padding-left: rem(20);
			font-size: 20px;
			// text-wrap: balance;
		}
		li {
			margin-bottom: 0.5em;
		}
		&--bg {
			background-image: url(../img/block-bg.jpg);
			background-size: cover;
			color: #fff;
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sUnreal
