mixin sDespair(data)
	// start sDespair
	+b.SECTION.sDespair.section#sDespair&attributes(attributes)
		.container
			+b.section-title.text-center
				img(src="img/title-decor.svg", alt="").res-i
				h2 Отчаяние трейдера и миссия создать неубиваемого робота
				h3 Как русский инженер, чешский гений и отец трендовой торговли из США решили самую большую проблему алготрейдинга?
			+e.inner.bg-wrap
				+img("img/sDespair-img.jpg",'bg').picture-bg
				p.strong Привет! Меня зовут Владимир Чамин, я трейдер и разработчик технологий для алгоритмического трейдинга.
				.text-block
					p 2025-й год бросил мне вызов. Его величество рынок жестко выкинул меня из зоны комфорта, подарив шанс увидеть трейдинг свежим взглядом и превзойти все мои предыдущие разработки. 

					p Навязчивая идея заполнила все мои мысли: «Если мне удастся создать торгового робота, который пройдет все испытания 2025 года, выживет и принесет деньги, то такой робот в дальнейшем сможет зарабатывать всегда и на любом рынке.»

	// end sDespair