mixin sAboutAuthor(data)
	// start sAboutAuthor
	+b.SECTION.sAboutAuthor.section#sAboutAuthor&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Об авторе: кто ведёт Вас в рынок
				h3 Меня зовут Александр Котин. Я более 20 лет в трейдинге. Учился у семьи Билла Вильямса. У меня 4 монитора. )))
			p.text-center Я пришёл в трейдинг в 2005 году.  <br> С тех пор моя жизнь связана с рынком.
			+e.block
				+e.body.bg-white.text-body
					+e.text
						h3.text-body За это время я:
						ul
							li перепробовал много способов трейдинга, классически слил далеко не один депозит, даже когда научился торговать прибыльно – долгое время топтался на низкой доходности, пока не углубился в стратегию Билла Вильямса и не наработал достаточно опыта для уверенной торговли.
							li 5 лет преподавал у официального партнёра брокера Альпари;
							li более 10 лет открыто публикую разборы рынка и свои сделки;
							li получил аттестат профессионального участника рынка ценных бумаг и диплом по финансовому консультированию;
							li получил психологическое образование, потому что психология в трейдинге важна не меньше, чем техника.
					img(src="img/sAboutAuthor-img.png", alt="").imgg
				+e.body--row(style="background: #0457C5")
					.img-wrap(data-fancybox='modal-sert' data-src=`img/sert-1-lg.jpg`)
						+img("img/cert-1.jpg")
					.img-wrap(data-fancybox='modal-sert' data-src=`img/sert-2-lg.png`)
						+img("img/cert-2.jpg")
					.img-wrap(data-fancybox='modal-sert' data-src=`img/sert-3-lg.jpg`)
						+img("img/cert-3.jpg")
					.img-wrap(data-fancybox='modal-sert' data-src=`img/sert-4-lg.jpg`)
						+img("img/cert-4.jpg")


			+b.section-title.text-center
				h2 Мой наставник — дочь Билла Вильямса
				h3 В 2018 году я прошёл персональное обучение у Джастин Вильямс, дочери легендарного трейдера Билла Вильямса.
			+e.block
				+e.body--2.bg-white.text-body
					+e.text
						h3.text-body  Именно Джастин показала мне то, чего не хватало в книгах Билла:
						ul
							li как максимально упростить трейдинг;
							li как системно забирать у рынка сильные движения;
							li как с небольшим риском получать многократно большую прибыль.
						h3.text-body  От Джастин и Билла я перенял подход к нелинейности рынка — и теперь передаю этот опыт своим ученикам.
					img(src="img/sAboutAuthor-img2.png", alt="").imgg
			
			
			+b.section-title.text-center
				h2 Почему я выбрал публичность
				h3 В 2018 году я прошёл персональное обучение у Джастин Вильямс, дочери легендарного трейдера Билла Вильямса.
			br
			.h3.text-end: em Как трейдер может реализоваться в обществе? <br> Только передавая свой опыт другим
			br
			
			
			+e.row--lg.row.gy-5.mb-5
				.col-lg-6
					.h3 Вместе с публичностью в жизни трейдера появляются обязательства. Она заставляет строже подходить к сделкам, держать дисциплину и быть максимально честным, прежде всего перед собой.
					br
					.h3 А честность в трейдинге невозможна без прозрачности.

				.col-lg-6
					.h3 Поэтому я торгую открыто:
					ul
						li каждая сделка записана на видео в реальном времени;
						li результаты подтверждены брокерскими стейтментами;
						li никаких подгонок и «картинок задним числом».
					p Прозрачность рождает доверие. И я сознательно выбираю этот путь — даже если он требует большего от меня.
			.text-center
				.h3 Ученики говорят, что я умею объяснять сложное простыми словами и что со мной трейдинг наконец-то становится понятным.
				p Я стараюсь оправдывать это доверие — быть не только трейдером, но и хорошим наставником.
				+defSlider()
					- for (var i = 1; i < 16; i++) 
						+e.slide.swiper-slide(data-fancybox='modal-slider-rev' data-src=`img/photo.png`)
							img(src=`img/photo.png` width="640" height="389" alt="").res-i 
					//- +e.slide.swiper-slide(data-fancybox='modal-slider-rev' data-src=`img/st-review-${i}.png`): +img(`img/st-review-${i}.png`).res-i
					//- +e.slide.swiper-slide(data-fancybox='modal-slider-rev' data-src=`img/results/img-${i}.png`)
					//- 	img(src=`img/results/img-${i}.png` width="640" height="389" alt="").res-i 


		
	// end sAboutAuthor