// start .sAuthor
.sAuthor {
	// --sPT: #{rem()};
	--sPB: #{rem(0)};
	position: relative;
	overflow: hidden;
	z-index: 2;
	.h3 {
		padding: var(--sp-base);
		background: #f5faff;
		text-align: left;
	}
	.section-title {
		p {
			font-size: 20px;
			margin-block: 2rem;
		}
	}
	&__block {
		padding: var(--sp-base);
		background: linear-gradient(93.08deg, #0051ff 0%, #0088ff 98.33%);
		border-radius: var(--sp-base);
		color: #fff;
		position: relative;
		font-size: 20px;
		z-index: 2;
		img {
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: -1;
			max-width: 40%;
		}
	}
	&__text {
		max-width: 800px;
		ul {
			padding-left: rem(20);
			// text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
		}
	}

	&__success-block {
		background-color: #29b363;
		// max-width: 490px;
		display: inline-block;
		padding: 22px;
		border-radius: 16px;
		margin-block: 1rem;
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
		img {
			// max-width: 100%;
		}
	}
} // end.sAuthor
