mixin sAuthor(data)
	// start sAuthor
	+b.SECTION.sAuthor.section()#sAuthor&attributes(attributes)
		.container
			+b.section-title.text-center  
				h2 Здравствуйте, меня зовут Александр Котин
				h3 Я более 20 лет в трейдинге и точно знаю, насколько сложно наработать  <br> #[span правильный опыт], чтобы научить свой мозг действовать результативно в трейдинге.
				p Именно поэтому я открыл обучение по системе #[span «Тренд. Паттерн. Сигнал».]
				.h3 #[span Моя цель проста:] показать честный и прозрачный путь — как торговать тренды и зарабатывать не на картинках, а на реальном рынке.
			+e.block 
					img(src="img/sAuthor.png", alt="")
					+e.text
						h3.mb-4 Почему мне можно доверять?
						h5 В декабре 2024 года я открыл счёт на #[span.text-success 20’000 $].
						p С этого момента каждая сделка велась публично и фиксировалась на видео:
						ul
							li никаких картинок задним числом;
							li никаких «сигналов постфактум»;
							li только реальные сделки в реальном времени.
						+e.success-block
							p Результат за 9 месяцев, на сентябрь 2025:
							h3 +190’063 $ чистой прибыли
							
						p Факт, который невозможно подделать
						ul
							li каждая сделка — на видео весь процесс торговли;
							li всё задокументировано в моменте;
							li торговля велась публично в сообществе «Инфоклуба».

