mixin sChanges(data)
	// start sChanges
	+b.SECTION.sChanges.section#sChanges&attributes(attributes)
		.container
			+b.section-title.text-center
				img(src="img/title-decor.svg", alt="").res-i
				h2 Рынок изменился, а робот устарел? 
				h3 Титан умеет зарабатывать на смене рыночных фаз
				p Долгосрочная прибыль в трейдинге рождается не в поиске супер-робота, а в мастерстве управления роботом в условиях постоянно меняющегося рынка.
			+e.row.row.fz-lg.gy-3.mb-4
				.col-lg-6
					p Знакомо? Рынок поменялся, а Ваш робот тупо шлепает ордера, как сонная муха по стеклу. Ложные сигналы выедают всю полученную ранее прибыль и сам депозит. Робот торгует вчерашней стратегией в сегодняшнем хаосе. Он сливает. Он устарел для текущих условий.
				.col-lg-6.text-primary.strong
					p И вот тут большинство трейдеров совершают фатальную ошибку: они ждут чуда. А депозит… тает. Знакомое  чувство беспомощности, ночные проверки счета  и валерьянка, чтобы уснуть?
			.h3.text-center.mb-5 Хватит! Титан – Ваш Центр Управления Армией Роботов. Он превращает рутину контроля в источник уверенности и стабильной прибыли

			+e.item.row.gy-3.mb-5.fz-lg
				.col-lg-6.order-lg-2
					+img("img/sChanges-1.png").res-i
				.col-lg-6
					h5 Автопилот адаптации.  <br> Робот становится умнее с каждой сделкой
					p Рынок застрял в болоте? Титан это видит мгновенно. Не тупо ждет очередного стоп-лосса, а сам перестраивает стратегию, анализируя свои результаты НА КАЖДОЙ СВЕЧЕ! Он расширяет канал Дончиана. Сделки сводятся к минимуму. Ваш капитал в безопасности, спите спокойно.

					p Начался тренд? Титан УЖЕ НА СЛЕДУЮЩЕЙ СВЕЧЕ переходит в режим «агрессора». Сужает канал, цепляет движение рынка раньше, зарабатывает деньги и на росте, и на падении. В то время, как другие роботы – слепые пилоты, 

					p разбивающиеся во флете, Титан видит смену рыночных фаз в реальном времени. Ваш робот – гонщик Формулы-1, а не пассивный пассажир
			+e.item.row.gy-3.mb-5.fz-lg
				.col-lg-6
					+img("img/sChanges-2.png").res-i
				.col-lg-6
					h5 Детектор устаревания.  <br> Снимите сломавшегося робота в плюсе!
					p «Рынки могут оставаться иррациональными дольше, чем Вы – платежеспособными». Джон Мейнард Кейнс знал, о чем говорил.

					p Как понять, что Ваш робот не просто в просадке, а окончательно выдохся?

					p Титан – Ваш беспристрастный контролер. Он в реальном времени мониторит каждого робота в Вашем портфеле:
					ul
						li Профит-фактор рухнул ниже критического уровня? Тревога!
						li Просадка угрожает превысить безопасный лимит? Стоп!
					p Вы получите сигнал в Telegram не после слива, а ДО ТОГО, как убыток станет необратимым. Вы точно знаете: пора заменить «ветерана» на свежего бойца или снять его с дистанции, пока он еще в плюсе! Никаких иллюзий и слитых депозитов. Только хладнокровный контроль.
			.text-center
				.h5.strong Итог: Управление армией роботов – это всего 5-10 минут в месяц 

				p Не бесконечная слежка за графиками, а четкие Telegram-уведомления и взвешенные решения. Вы – стратег, а не аварийный комиссар.
				.mb-4
					+img("img/auto-avatar.png")
					.em Долгосрочные деньги в трейдинге лежат в управлении роботами. Сделать стратегию — минутное дело. А вот управлять ею так, чтобы зарабатывать регулярно — это искусство
					.small.strong Владимир Чамин
				h5.strong Титан делает Вас Мастером этого искусства. 
				.h5.fw-400 У хедж-фондов – армия аналитиков. У Вас – Титан и ноутбук. Титан стирает пропасть между Вами. Силы равны. Ваш Центр Управления Полетами в полной боевой готовности.
	
			+e.panel.panel-with-bg.bg-wrap.text-center
				+img("img/panel-bg.jpg",'bg').picture-bg
				h3.mb-4 Прибыль каждый год на протяжении десятилетий – это не удача. Это результат управления с помощью Титана. 
				p.mb-4 Когда Ваши роботы всегда вовремя адаптируются, вовремя предупреждают и не допускают катастроф. Хватит кормить рынок своими нервами и деньгами. Титан возьмет управление в свои руки и превратит смену рыночных фаз в автоматический источник дохода!
				a.btn.btn-primary(href="#sForm") Забрать контроль над своей армией торговых роботов!
			+e.els
				+e.el Доход в трейдинге должен приходить комфортно. Без нервов. Без рутины. Без риска потерять все. Ваша задача – жить. Задача торгового робота – зарабатывать
				+e.el Я ненавижу сложность и убежден, что доход в трейдинге приносят простые вещи. Каждая моя разработка – это удар по страху, сливам и бессмысленным часам у монитора

	// end sChanges