mixin sHelpCry(data)
	// start sHelpCry
	+b.SECTION.sHelpCry.section#sHelpCry&attributes(attributes)
		.container
			+b.section-title.text-center 
				img(src="img/title-decor.svg", alt="").res-i
				h2 Ваш депозит кричит о помощи!  <br> Последний шанс его спасти?
				h3 Хватит кормить рынок своими деньгами!
				p 2025 год бросает вызов. 
			+e.row.row
				.col-lg-6
					+e.item(style="background: #FFEBEB;")
						p Выйдете на поле боя со старым  «динозавром», который сольет <br> Ваш депозит к концу года?
						+img("img/sHelpCry-1.png").res-i
				.col-lg-6
					+e.item(style="background: var(--linear, linear-gradient(93deg, #2671B2 0%, #08F 98.33%));color: #fff;")
						p.strong Или поставите на Титана, который  адаптируется, защитит капитал  и будет надежно приносить Вам прибыль? 
						+img("img/sHelpCry-2.png").res-i
			.text-center
				h3 Прямо сейчас Вы выбираете не робота. Вы выбираете свою судьбу на современном рынке. Сделайте уверенный шаг к финансовой неуязвимости.

				p.fz-lg 
					.strong Не важно, на какой доход Вы нацелены: 20-50% в год, 50-100% или более 100%. 
					| Титан откроет Вам путь к надежному доходу без долгих лет изучения программирования и без риска слива в первом же флете. 
	// end sHelpCry