mixin sProfitFromStudy(data)
	// start sProfitFromStudy
	+b.SECTION.sProfitFromStudy.section#sProfitFromStudy&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Окупится ли обучение, если  депозит небольшой?
				
			+e.row.row
				.col-xxl-5.col-xl-6
					h3 Многие думают: «Чтобы зарабатывать в трейдинге, нужен крупный капитал».
						span.text-success Это не так. Главное — не размер счёта, а правильный подход к торговле.
					p Я понимаю, что у большинства нет десятков тысяч долларов на старте. Поэтому завёл новый счёт с небольшой стартовой суммой, специально для Вас.
					p Посмотрите короткое видео — ощутимый результат в деньгах возможен даже на малых депозитах:
				.col
					+e.video
						iframe(width="560" height="315" src="https://kinescope.io/iyHNbwgW7rkD1KDuPRpTPT" loading="lazy")
			.text-center
				h3 Начать можно прямо сейчас.
				p А вот действительно важная переменная при небольшом счете – это время. Лучший момент для старта был вчера, второй лучший – сегодня. Важно не откладывать и не ждать «лучшего момента» или «большего депозита».
			.row
				.col-lg-6
					+e.item
						p Для накопления #[span.text-primary правильного опыта] в трейдинге нужно время, за одну неделю мастерство не наработаешь
						
						<svg width="111" height="112" viewBox="0 0 111 112" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M55.5533 28.491V56.2143L74.0355 65.4555M92.5178 56.2143V79.3172M92.5178 97.7994H92.564M98.2935 38.6562C94.8081 30.1607 88.8705 22.8964 81.2384 17.7903C73.6063 12.6842 64.6258 9.96806 55.4432 9.98839C46.2605 10.0087 37.2922 12.7647 29.6828 17.9045C22.0733 23.0443 16.1679 30.3349 12.7203 38.8457C9.27258 47.3566 8.43898 56.7017 10.3259 65.6884C12.2127 74.6751 16.7345 82.8958 23.3141 89.3013C29.8937 95.7068 38.2326 100.007 47.2667 101.652C56.3007 103.297 65.6202 102.213 74.0355 98.5387" stroke="url(#paint0_linear_12006_1287)" stroke-width="3.33333" stroke-linecap="round" stroke-linejoin="round"/>
							<defs>
							<linearGradient id="paint0_linear_12006_1287" x1="9.33984" y1="9.98828" x2="101.274" y2="14.7547" gradientUnits="userSpaceOnUse">
							<stop stop-color="#0051FF"/>
							<stop offset="1" stop-color="#0088FF"/>
							</linearGradient>
							</defs>
							</svg>

				.col-lg-6
					+e.item
						p Начинайте с тем, что есть — опыт, который Вы получите, бесценен. А депозит имеет свойство расти, когда #[span.text-primary опыт правильный]

						<svg width="96" height="97" viewBox="0 0 96 97" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M48 64.7139V84.7139M64 56.7139V84.7139M80 40.7139V84.7139M88 12.7139L53.416 47.2979C53.2302 47.4841 53.0095 47.6319 52.7665 47.7327C52.5236 47.8335 52.2631 47.8854 52 47.8854C51.7369 47.8854 51.4764 47.8335 51.2335 47.7327C50.9905 47.6319 50.7698 47.4841 50.584 47.2979L37.416 34.1299C37.0409 33.7549 36.5323 33.5443 36.002 33.5443C35.4717 33.5443 34.9631 33.7549 34.588 34.1299L8 60.7139M16 72.7139V84.7139M32 56.7139V84.7139" stroke="url(#paint0_linear_12006_1303)" stroke-width="3.33333" stroke-linecap="round" stroke-linejoin="round"/>
							<defs>
							<linearGradient id="paint0_linear_12006_1303" x1="8" y1="12.7139" x2="90.6073" y2="17.6576" gradientUnits="userSpaceOnUse">
							<stop stop-color="#0051FF"/>
							<stop offset="1" stop-color="#0088FF"/>
							</linearGradient>
							</defs>
							</svg>
			.text-center: a.btn.btn-primary(href="#sForm") Получить доступ в два клика 
	// end sProfitFromStudy