mixin sPlotes(data)
	// start sPlotes
	+b.SECTION.sPlotes.section#sPlotes&attributes(attributes)
		.container
			+b.section-title.text-center
				+b.section-title.text-center
				img(src="img/title-decor.svg", alt="").res-i
				h2 Эти сценарии узнает каждый трейдер
				h3 В&nbsp;2025 году они реализовались одновременно в&nbsp;худшем трейдерском кошмаре
				
			+e.row
				mixin item(t,t1)
					+e.item
						+e.item-inner
							if t 
								h3= t 
								.h4= t1
							block
				+item('Робот-динозавр','Застрял в прошлом, сливает в настоящем')
					p Стратегия создана для вчерашнего рынка. Современный рынок изменил характер. Робот упрямо торгует по старым лекалам и неизбежно сливает депозит
				+item('Флетовый ад','Вы – заложник, Ваш робот – сжигатель капитала.')
					p Картина маслом: Вы радуетесь профиту после удачного тренда. А потом рынок замирает. На месяц. На два. На три… Полный штиль. А Ваш робот героически продолжает ловить несуществующие тренды. Вы чувствуете себя заложником тупой машины, ведущей Ваш счет к нулю.
					p Отключить робота? А вдруг завтра тренд? Оставить? А вдруг завтра сольет еще 30%? 
				+item('Паралич риска','Мелочитесь? Получили копейки на сильном тренде. Летите вперед? Разбились!')
					p Увидели мощное движение? Увеличиваете объем и тут же попадаете в серию убытков. Просадка превращается в кошмарный обрыв, из которого не выбраться. 
					p Увидели однозначный сигнал? Страх: «А вдруг это ловушка?» Боитесь увеличить объем и упускаете львиную долю профита на сильном движении. Ваш робот не спасает – он либо молчит, либо усугубляет Ваши эмоциональные качели.
				+e.item--author
					+img("img/plot.png")
					div
						em Эти вопросы изматывают трейдера и заставляют принимать роковые ошибки
						.strong Владимир Чамин
			+e.panel.panel-with-bg.bg-wrap
				+img("img/plot.jpg",'bg').picture-bg
				.text-block
					h3 А что, если бы Ваш робот мог думать?
					p #[strong САМ понимать, что начался смертельный флет], и временно отключаться, сохраняя Ваш капитал в целости.
					p #[strong САМ фильтровать сигналы] и нажимать на газ (увеличивать объем сделки!), когда шансы на успех зашкаливают, чтобы взять максимум прибыли
					p #[strong САМ охранять Ваш депозит], как бронированный сейф, не допуская катастрофических сливов
				+img("img/plot-img.png").img

	// end sPlotes