mixin s2025(data)
	// start s2025
	+b.SECTION.s2025.section#s2025&attributes(attributes)
		.container
			+b.section-title.text-center
				img(src="img/title-decor.svg", alt="").res-i
				h2 2025: год, который сломал всех торговых роботов
				h3 2025-й не просто сложный год – это экзамен на выживание для любого алгоритма
			p Это год с длиннющим флетовым болотом и резкими, как нож, взлетами и падениями,  на которых все известные стратегии трещали по швам.
			+img("img/2025-1.png")
			p Это год с сильнейшими движениями, на которых можно было сорвать куш…  <br> если Ваш робот не сольет весь депозит в последующем бесконечном боковике
			+img("img/2025-2.png")
	// end s2025