// start .s2025
.s2025 {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	text-align: center;
	p {
		font-size: rem(20);
		color: var(--Grey, #4d4d4d);
	}
	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	h2 {
		margin-inline: auto;
		// max-width: 900px;
	}

	p {
		margin: 0 auto rem(26);
		// max-width: 800px;
	}
	img {
		max-width: 100%;
		margin-bottom: var(--sp-base);
	}
	&__col {
	}
	&__item {
	}

	&__block {
		background: #f5faff;
		padding: var(--sp-base);
		border-radius: var(--sp-base);
		margin-bottom: var(--sp-base);
		img {
			/* 1 */
			box-shadow: 0px 4px 155.5px 19px rgba(70, 84, 140, 0.09);
			border-radius: 24px;
			margin-block: var(--sp-base);
		}
	}
	&__item {
		padding: rem(10) var(--sp-base);
		min-height: rem(86);
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		border: 1px solid;
		border-radius: rem(100);
		text-align: left;
		.text {
			font-size: rem(32);
			text-wrap: nowrap;
		}
		&--l {
			text-align: center;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 20px;
			p {
				margin-bottom: 0;
			}
			&::before {
				content: "";
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: -20px;
				width: 40px;
				height: 40px;
				background-color: $danger;
				border-radius: 50%;
			}
		}
	}

	&__img-wrap {
		display: inline-block;
		position: relative;
		.arrow-success {
			position: absolute;
			right: 14%;
			top: -5%;
			box-shadow: none;
			// mix-blend-mode: soft-light;
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.s2025
