mixin s2025(data)
	// start s2025
	+b.SECTION.s2025.section#s2025&attributes(attributes)
		.container
			+b.section-title.text-center 
				h2 Как войти в рынок раньше толпы —  <br> и удержать движение до конца?
				h3 Вы наверняка знаете это чувство:

			+e.row.row.gy-4.mb-4
				.col-lg-4.col-sm-6
					+e.item--l 
						p вошли слишком поздно,  <br> а движение уже выдохлось
				.col-lg-4.col-sm-6
					+e.item--l 
						p закрылись слишком рано  <br> и рынок ушёл дальше без Вас
				.col-lg-4.col-sm-6
					+e.item--l 
						p упустили самое «вкусное»  <br> место сделки
			br
			p #[span.text-danger Это главная боль трейдера:] увидеть импульс до того, как он станет очевидным для всех
			br
			+e.block
				p Идеальный момент, если его знать: рынок ещё «тихий», никто не видит зарождающегося импульса, никто даже не предполагает о возможном движении вниз. Именно в этот момент я вхожу.
				+e.img-wrap
					img(src="img/arrow-success.svg", alt="").arrow-success
					+img("img/2025-1.png")
			+e.block
				h3 Дальше рынок двигался вот так
				+img("img/2025-2.png")
				.row.gy-3
					+e.col.col-md-6: +e.item 
						strong Изначальный риск в сделке был 
						strong.text.text-danger 1 060$
					+e.col.col-md-6: +e.item 
						strong Профит составил
						strong.text.text-success 19 417$
			.text-center.h3 Даже одна такая сделка в месяц способна кардинально изменить <br> Ваши результаты в трейдинге.
	// end s2025